footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  letter-spacing: 0.1em;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  z-index: 10;
}
