form {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
}

form > fieldset {
  display: grid;
  gap: 1rem;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem 2rem 2rem;
  border: 1px solid black;
}

form > fieldset > legend {
  padding: 0 1rem;
  text-align: center;
  font-weight: bold;
}

form fieldset label {
  display: block;
  font-size: 2rem;
  letter-spacing: 1px;
}

form fieldset input {
}

form fieldset textarea {
  resize: none;
}

form input:focus,
form textarea:focus {
  outline: none;
}

::placeholder {
  opacity: 0.6;
}
