.app-header {
  display: flex;
  width: 100%;
  padding: 1rem;
  /* background-color: var(--bg-color);
  color: var(--text-color); */
  text-align: center;
  z-index: 11;
  justify-content: space-between;
}

.app-header > .logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app-header > .logo-wrapper > .logo {
  width: 5rem;
  height: auto;
}

.app-header > nav {
  width: 100%;
  display: flex;
}

.app-header > nav > ul {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

.app-header > nav > ul > li {
  width: 100%;
}

.app-header > nav > ul > li > a {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  transform: scale(1);
  transition: 0.3s transform ease-in-out;
}

.app-header > nav > ul > li > a:hover {
  transform: scale(1.2);
}
