.todo-group {
  width: 100%;
  padding: 2rem;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  border: 1px solid black;
  border-radius: 999rem;

  background-color: rebeccapurple;
  color: white;
}

.delete-button {
  color: red;
}
