.todo-group {
  width: 100%;
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
  border-radius: 999rem;

  background-color: rebeccapurple;
  color: white;
}

.delete-button {
  color: red;
}
