/* CSS IMPORTS - FILES AND COMPONENTS */
@import "./reset.css";
@import "./root.css";
@import "./layout.css";
@import "./css-components/header.css";
@import "./css-components/burger-menu.css";
@import "./css-components/footer.css";
@import "./css-components/modal.css";
@import "./css-components/form.css";
@import "./css-components/todo-item.css";
@import "./css-components/button.css";
@import "./utils.css";

/* CLASS AND ID STYLING BELOW */
#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
